* { /* 전체 적용 */
    box-sizing: border-box;
}

/* border-box로 설정해놓으면 100%를 맞추기 편하다 */
img:first-of-type{
    width: 30%;
    border: 10px solid coral;
}

img:last-of-type{
    width: 70%;
    border: 10px solid black;
}

#div1{
    /* width/height property로 컨텐츠의 사이즈를 결정 */
    box-sizing: content-box;
    width: 300px;
    height: 200px;
    border: solid 5px indigo;
    padding: 50px;
    margin: auto;
}

#div2{
    /* width/height property가 테두리를 포함한 크기를 설정하게 된다 */
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    border: 20px solid darkturquoise;
    padding: 50px;
    margin: auto;
}